<d-row>
  <d-col xs12>
    <d-header>
      <h5>Devisign Ngx UI</h5>
      <button class="right" (click)="menu.toggle()">Menu</button>
    </d-header>
  </d-col>
</d-row>
<d-page>
  <d-page-menu #menu [breakPoint]="1000" mode="overlay" position="left">
    <d-row>
      <d-col xs12>
        321
      </d-col>
    </d-row>
  </d-page-menu>
  <d-page-content [breakPoint]="1000">
    <d-row>
      <d-col xs12>
        123
      </d-col>
    </d-row>
  </d-page-content>
</d-page>
