<div id="toast" style="display:none;">
  <div class="weui-mask_transparent"></div>
  <div class="weui-toast">
    <i [class]="loading ? 'weui-loading weui-icon_toast' : 'material-icons'">{{icon}}</i>
    <p class="weui-toast__content">{{msg}}</p>
  </div>
</div>
