.d-page-content {
  position: absolute;
  right: 0;
  width: 75vw;
  height: 100%;
  min-width: calc(100vw - 320px);
  max-width: calc(100vw - 200px);
}

.full-content {
  width: 100vw;
  position: relative;
  max-width: 100vw;
  transition: 0.2;
}
