.d-page-menu {
  position: absolute;
  display: inline-block;
  width: 25vw;
  height: 100%;
  min-width: 200px;
  max-width: 320px;
  z-index: 1005;
}

.hide {
  display: none;
  position: fixed;
  top: 0;
  transition: 0.2s;
}

.overlay {
  position: fixed;
  width:90vw;
  background: white;
  border-left: 1px solid lightgrey;
  max-width: 320px;
  min-height: 100vw;
  transition: 0.2s;
  height: 100%;
  top: 0;
}
